body {
    background-color: lightpink;
}

#filterCity {
    width: 300px;

    display: flex;
    flex-direction: column;
}


/*성별 색상 구분*/
#male {
    background-color: lightskyblue;
}
#female {
    background-color: lightpink;
}


/*리스트 칸 설정*/
.table {
    border-collapse: collapse; /* 테두리 간격을 없애서 칸이 붙어 나오도록 함 */
    width: 100%;
}

.table th, .table td {
    border: 1px solid #ddd; /* 기본 테두리 설정 */
    padding: 8px;           /* 셀 안의 패딩 조정 */
}

.table th {
    background-color: #f2f2f2;
    text-align: left;
}


.table-bordered th, .table-bordered td {
    border: none; /* 테두리 제거로 칸을 이어 붙임 */
}


/*행 간격 줄이기*/
tbody .gridData td {
    padding: 5px 10px; /* 필요에 따라 padding 값을 조정 */
    margin: 0;
}

tbody .gridData input,
tbody .gridData select,
tbody .gridData p {
    margin: 0;
    padding: 0;
    line-height: 1.2; /* line-height 값을 조정하여 텍스트 간격을 줄임 */
}

tbody .gridData {
    height: auto; /* 행 높이가 동적으로 조정되도록 설정 */
}